/* line 6, ../sass/index.sass */
html {
  text-align: center;
}

/* line 9, ../sass/index.sass */
[drawer] {
  background-color: #2c2f2f;
}
/* line 11, ../sass/index.sass */
[drawer] paper-menu {
  background-color: #2c2f2f;
}

/* line 15, ../sass/index.sass */
paper-card {
  background-color: #2c2f2f;
  color: #ffffff;
  --paper-card-header-color: #ffffff;
  padding: 30px;
  margin: 30px;
}
/* line 21, ../sass/index.sass */
paper-card .card-actions {
  border: none;
}
